#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.animation {
  height: 16em;
  will-change: filter;
  transition: filter 300ms;
}

@media (min-width: 1000px) {
  .responsive-fit {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  .animation {
    height: 32em;
    padding: 1.5em;
  }
}

.animation.react:hover {
  filter: drop-shadow(0 0 2em #dc61fbaa);
}

.responsive-fit {
  /* display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column-reverse; */
}

.card {
  padding: 2em;
}

.main-message {
  margin: 32px auto 16px;
}

.read-the-docs {
  text-align: center;
  color: #888;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
